---
interface Props {
  title: string;
  value?: string;
  gridPosition: string;
  to?: string;
}

const { title, value, gridPosition, to } = Astro.props;
---

<div
  class={`text-light-stone flex items-center gap-3 md:gap-4 self-stretch ${gridPosition} data-[value=NA]:opacity-50`}
  data-value={value}
  id={title}
>
  <slot />
  {
    to ? (
      <a
        href={to}
        target='_blank'
        class='text-[13px] leading-[normal] hover:underline md:text-[15px]'
        data-social={title}
      >
        {value}
      </a>
    ) : (
      <div data-social={title} class='text-[13px] leading-[normal] md:text-[15px]'>
        {value || 'Not Available'}
      </div>
    )
  }
</div>
